<div class="container mt-4">
  <h2 class="text-center mt-4"><%= t("arclight.static_title") %></h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center">Florida Virtual Campus | Archival Collections</h5>
          <p class="card-text">Search archival repositories across public colleges and universities in Florida.</p>
          <img src="https://cdn.prod.website-files.com/646e5a0c33685cdc91a1677e/64d64a02a6675baa8fbc35ca_Florida-Map.png" alt="Map of Supported Institutions in Florida" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center">About FLVC</h5>
          <p class="card-text">FLVC Library Services provides information, training, tools, and other resources for library staff at the 28 state colleges and 12 public universities in Florida. Visitors are invited to learn more about the <a href="https://libraries.flvc.org/about-flvc-ls">Library Services unit of the Florida Virtual Campus</a> and the <a href="https://libraries.flvc.org/supported-institutions">150+ libraries</a> at our state's 40 public institutions of higher education. A <a href="https://libraries.flvc.org/institutions-map">clickable map</a> locates the colleges and universities that we serve and provides links to each institution's library website.</p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body text-center">
          <p class="card-title text-center">Powered by ArcLight | Hosted by <a href="https://lyrasis.org/">Lyrasis</a> <img src="https://archivesspace.lyrasistechnology.org/assets/lyrasis_star.png" alt="Lyrasis Star logo"/></p>       
        </div>
      </div>
    </div>
  </div>
</div>