<div class="container mt-4">
  <h2 class="text-center mt-4"><%= t("arclight.static_title") %></h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center">Section 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
          <p class="card-text">Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center">Section 2</h5>
          <p class="card-text">Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body text-center">
          <h5 class="card-title text-center">Section 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
          <p class="card-text">Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
        </div>
      </div>
    </div>
  </div>
</div>